html {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0.7vw;
    height: 1vh;
}
::-webkit-scrollbar-track {
    background-color: #efefef;
    margin-block: 12.2887vh;
    border-radius: 100rem;
}
::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 100rem;
}
::-webkit-scrollbar-thumb:active {
    background-color: #7e7e7e;
}
a {
    text-decoration: none;
}
body {
    position: relative;
    min-height: 300vh;
}
#nav-bar-container {
    position: sticky;
    top: 0;
    transition: all 0.3s;
    z-index: 9999;
}
.nav-bar {
    display: flex;
    align-items: center;
    column-gap: 10.5vw;
    justify-content: space-evenly;
    font-size: 1.7rem;
    color: #000000;
    font-weight: 700;
    box-shadow: 0 0 20px 1px #0000001c;
    padding-block: 0.5rem;
    transition: border-radius 0.3s, margin-inline 0.3s, box-shadow 0.3s;
}
.scrolled-nav-bar {
    margin-inline: 3rem;
    backdrop-filter: blur(10px);
    border-radius: 100rem;
    box-shadow: 0 0 20px 1px #00000047;
}
.first-list-item {
    margin-left: 6rem;
}
.nav-bar-items {
    list-style: none;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
#sign-up-button,
#sign-in-button {
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 100rem;
    transition: all 0.3s ease-out;
    position: relative;
}
#sign-up-button::after {
    content: "";
    background-color: #ff7ef1;
    width: 90%;
    height: 100%;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s linear;
}
#sign-in-button::after {
    content: "";
    background-color: #ffc681;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s linear;
}
#sign-up-button:hover::after,
#sign-in-button:hover::after {
    scale: 1.5;
    opacity: 0;
}
#sign-up-button:hover {
    background-color: rgb(254, 176, 255);
}
#sign-in-button:hover {
    background-color: #fcd5a6;
}
.sign-user-buttons-container {
    list-style: none;
    cursor: pointer;
    position: relative;
    margin-right: 9.4rem;
    display: flex;
}

#sign-up-button {
    background-color: #ff7ef1;
    padding-right: 3rem;
    border-radius: 100px 0 0 100px;
}
#sign-in-button {
    background-color: #ffc681;
    padding-left: 3rem;
    padding-inline: 1.2rem;
    position: absolute;
    left: 73%;
}
.nav-bar-items::after {
    content: "";
    background-color: #000000;
    position: absolute;
    border-radius: 100px;
    height: 0.15rem;
    width: 0;
    top: 110%;
    left: 0;
    transition: all 0.3s linear;
    transform-origin: left;
}
.nav-bar-items:hover::after {
    width: 100%;
}
.music-player-container {
    margin-block: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#music-picture {
    width: 65vh;
    height: 65vh;
    border-radius: 0.3rem;
    transition: border-radius 1s;
}
.music-player-buttons-container {
    display: flex;
    margin-top: 3rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.music-player-buttons {
    background-color: #ffffff;
    border: none;
    font-size: 2rem;
    color: #474646;
}
.music-player-buttons > i {
    cursor: pointer;
    transition: all 0.1s, margin-left 0s;
}
.play-button-container {
    background-color: #ffc681;
    border-radius: 50%;
    text-align: center;
    height: 4rem;
    width: 4rem;
    transition: all 44ms;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-button {
    margin-left: 0.4rem;
}
.duration-bar-container {
    margin-top: 3rem;
    border: 2px solid #474646;
    position: relative;
    border-radius: 20rem;
    width: 52vw;
    height: 0.8rem;
}
.duration-bar {
    width: 0px;
    height: 100%;
    background-color: #000;
}
.duration-bar-selector {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(255, 198, 129);
    left: 0;
    cursor: pointer;
    top: 50%;
    z-index: 1000;
    translate: -50% -50%;
    transition: all 0.1s, left 0ms;
}
.audio-repeat-tuggle-button.orange-color {
    color: rgb(255, 166, 0);
}
.audio-shuffle-toggle-button.pink-purple-color {
    color: #ff00fa;
}
.music-control-hover-styled:hover {
    color: #000000;
}
.music-control-hover-styled:active {
    color: #474646;
}
.change-duration-dress {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999999999;
}
.duration-bar-click-dress {
    position: absolute;
    top: -177%;
    left: 0;
    height: 455%;
    width: 100%;
    z-index: 999;
}
.volume-container {
    position: relative;
}
.volume-bar-wrapper {
    position: absolute;
    top: -395%;
    left: 50%;
    width: 2.2rem;
    height: 8rem;
}
.volume-bar-second-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}
.volume-bar {
    position: absolute;
    bottom: 0;
    height: 0rem;
    width: 2.2rem;
    border-radius: 20rem;
    scale: 0;
    border: 2px solid #474646;
    transform: translateX(-50%);
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.2, 0.46, 0.36, 0.93), scale 0s;
}
.volume-bar-dress {
    position: absolute;
    width: 4.8rem;
    height: 12.6rem;
    top: 0;
    border-radius: 200rem;
    left: -106%;
    display: none;
    z-index: 500;
}
.volume-bar-highlight-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.volume-bar-highlight {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 198, 129);
    border-radius: 0 0 20rem 20rem;
}
#volume-icon {
    position: relative !important;
    z-index: 900;
    cursor: pointer;
}
.change-volume-dress {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999999999;
}
.play-back-rate-button {
    position: relative;
}
.play-back-rate-options-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 164%;
    transform: translateX(-7.5%);
    display: none;
}
.play-back-rate-options-container > :first-child {
    border-radius: 0.3rem 0.3rem 0 0;
}
.play-back-rate-options-container > :last-child {
    border-radius: 0 0 0.3rem 0.3rem;
}
.play-back-rate-option {
    color: #ffffff;
    background-color: #474646;
    padding-block: 0.3rem;
    padding-inline: 0.3rem;
    font-size: 1.2rem;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.2, 0.46, 0.36, 0.93);
}
.play-back-rate-option:hover {
    background-color: #000000;
}
.play-back-rate-option:active {
    background-color: #474646;
}
.fourth-play-back-rate-option {
    transition: translate 0.4s;
    translate: 0 300%;
    z-index: 2;
}
.third-play-back-rate-option {
    transition: translate 0.3s;
    translate: 0 200%;
    z-index: 3;
}
.second-play-back-rate-option {
    transition: translate 0.2s;
    translate: 0 100%;
    z-index: 4;
}
.first-play-back-rate-option {
    transition: opacity 0.1s;
    z-index: 5;
}
.current-audio-time {
    position: absolute;
    left: -4.3rem;
    top: -0.5rem;
    font-size: 1.3rem;
}
.audio-duration {
    position: absolute;
    right: -4.3rem;
    top: -0.5rem;
    font-size: 1.3rem;
}
