html {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0.7vw;
    height: 1vh;
}
::-webkit-scrollbar-track {
    background-color: #efefef;
    margin-block: 5rem;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
    background-color: #7e7e7e;
}
a {
    text-decoration: none;
}
body {
    position: relative;
    height: 300vh;
}
#nav-bar-container {
    position: sticky;
    top: 0;
    transition: all 0.3s;
    z-index: 9999;
}
.nav-bar {
    display: flex;
    align-items: center;
    column-gap: 9rem;
    justify-content: space-evenly;
    font-size: 1.7rem;
    color: #000000;
    font-weight: 700;
    box-shadow: 0 0 20px 1px #0000001c;
    padding-block: 0.5rem;
    transition: border-radius 0.3s, margin-inline 0.3s, box-shadow 0.3s;
}
.scrolled-nav-bar {
    margin-inline: 3rem;
    backdrop-filter: blur(10px);
    border-radius: 100px;
    box-shadow: 0 0 20px 1px #00000047;
}
.first-list-item {
    margin-left: 6rem;
}
.nav-bar-items {
    list-style: none;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
#sign-up-button,
#sign-in-button {
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    transition: all 0.3s ease-out;
    position: relative;
}
#sign-up-button::after {
    content: "";
    background-color: #ff3b8c;
    width: 90%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s linear;
}
#sign-in-button::after {
    content: "";
    background-color: #ff9f2b;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s linear;
}
#sign-up-button:hover::after,
#sign-in-button:hover::after {
    scale: 1.5;
    opacity: 0;
}
#sign-up-button:hover {
    background-color: #ffadcf;
}
#sign-in-button:hover {
    background-color: #fcd5a6;
}
.sign-user-buttons-container {
    list-style: none;
    cursor: pointer;
    position: relative;
    margin-right: 9.4rem;
    display: flex;
}

#sign-up-button {
    background-color: #f886b6;
    padding-right: 3rem;
    border-radius: 100px 0 0 100px;
}
#sign-in-button {
    background-color: #ffc681;
    padding-left: 3rem;
    padding-inline: 1.2rem;
    position: absolute;
    left: 73%;
}
.nav-bar-items::after {
    content: "";
    background-color: #000000;
    position: absolute;
    border-radius: 100px;
    height: 0.15rem;
    width: 0;
    top: 110%;
    left: 0;
    transition: all 0.3s linear;
    transform-origin: left;
}
.nav-bar-items:hover::after {
    width: 100%;
}
.music-player-container {
    margin-block: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#music-picture {
    width: 65vh;
    height: 65vh;
    border-radius: 0.3rem;
    transition: border-radius 1s;
}
.music-player-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    column-gap: 8rem;
}
.music-player-buttons {
    background-color: #ffffff;
    border: none;
    font-size: 2rem;
    color: #474646;
}
.music-player-buttons > i {
    cursor: pointer;
    transition: all 0.1s, margin-left 0s;
}
.play-button-container {
    background-color: #ffc681;
    border-radius: 50%;
    text-align: center;
    height: 4rem;
    width: 4rem;
    transition: all 44ms;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-button {
    margin-left: 0.4rem;
}
.duration-bar-container {
    margin-top: 3rem;
    border: 2px solid #000;
    width: 52vw;
    height: 1vh;
}
.duration-bar {
    position: relative;
    width: 0px;
    height: 100%;
    background-color: #000;
}
.duration-bar-selector {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(255, 198, 129);
    left: 98%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s;
}
.audio-repeat-tuggle-button.orange-color {
    color: rgb(255, 166, 0);
}
.music-control-hover-styled:hover {
    color: #000000;
}
.music-control-hover-styled:active {
    color: #474646;
}
.change-duration-dress {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999999999;
}
