* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0.7vw;
    height: 1vh;
}
::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 100rem;
}
::-webkit-scrollbar-thumb {
    background-color: #ffd557;
    border-radius: 100rem;
}
::-webkit-scrollbar-thumb:active {
    background-color: #ffe495;
}
body {
    font-family: sans-serif;
    width: 100vw;
    height: 100dvh;
    padding-top: 6rem;
    padding-bottom: 55rem;
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
html {
    --s: 400px; /* control the size */
    --c1: #ffe7a0;
    --c2: #30a2ff;

    --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%,
        var(--c2) 26% 35%, var(--c1) 36% 45%, var(--c2) 46% 55%,
        var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%,
        var(--c2) 86% 95%, #0000 96%;
    background: radial-gradient(50% 50% at 100% 0, var(--_g)),
        radial-gradient(50% 50% at 0 100%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)),
        radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2)
            calc(var(--s) / 2) var(--c1);
    background-size: var(--s) var(--s);
}
.todo-container {
    background-color: #00d1ffbd;
    /* backdrop-filter: blur(6px); */
    padding: 1.25rem;
    width: 37.564375rem;
    height: fit-content;
    position: relative;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.9375rem;
    box-shadow: 0 0 20px 0px #0000009c;
}
#h1-title {
    text-transform: uppercase;
}
.todo-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
    align-items: center;
}
.todo-element,
.todo-describe {
    padding: 0.5rem 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-describe {
    background-color: #fc3a52;
    border-radius: 0.6rem;
    min-width: 10vw;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
.delete-icon {
    font-size: 1.8125rem !important;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease-in-out;
}
.delete-container {
    padding: 2px;
    width: 2.9875rem;
    height: 2.8475rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon:hover {
    animation: deleteIconAnim 0.4s ease-in-out forwards;
    font-size: 2.5rem !important;
    color: #fc3a52;
    translate: 0 -3px;
}
.delete-icon:active {
    translate: 0 0;
}
@keyframes deleteIconAnim {
    0% {
        transform: rotateZ(0);
    }
    33% {
        transform: rotateZ(20deg);
    }
    66% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
.todo-describe-container {
    width: 19.608125rem;
    padding: 0;
    color: #fff;
}
.done-icon {
    font-size: 1.375rem;
    font-weight: 900;
    color: #fc3a52;
}

.done {
    background-color: #fc3a52;
    width: 4.3625rem;
    height: 2.034375rem;
    padding: 0 1%;
    border-radius: 100px;
    position: relative;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
}
.done-circle {
    position: absolute;
    padding: 2px;
    height: 1.545625rem;
    width: 1.545625rem;
    align-items: center;
    border-radius: 50%;
    translate: 0;
    cursor: pointer;
    background-color: #ffffff !important;
}

@keyframes doneAnim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes doneAnimToRight {
    0% {
        translate: 0;
    }
    100% {
        translate: 137%;
    }
}
@keyframes doneAnimToLeft {
    0% {
        translate: 137%;
    }
    100% {
        translate: 0;
    }
}
.todo-index-circle {
    background-color: #ffffff;
    width: 2.389375rem;
    height: 2.389375rem;
    border-radius: 50%;
    color: #fc3a52;
    display: flex;
    font-weight: 900;
    justify-content: center;
    font-size: 1.5625rem;
    align-items: center;
}
.add-box-button {
    background-color: #ffe7a0;
    width: 3.255rem;
    box-shadow: 0 0 20px 0 #00000096;
    border-radius: 50%;
    height: 3.255rem;
    font-size: 1.25rem;
    font-weight: 700;
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
    left: -20%;
    top: -21%;
    transition: all 0.4s ease-in-out, translate 0.2s ease-in-out;
}
.add-box-button:hover {
    background-color: #ffffff;
    translate: 0 -3px;
}
.add-box-button:active {
    translate: 0 -1px;
    animation-fill-mode: forwards;
}
div .add-box-container {
    background-color: #00d1ffbd;
    /* backdrop-filter: blur(6px); */
    /* width: 39vw; */
    width: 0;
    height: fit-content;
    position: absolute;
    top: 113%;
    padding: 3%;
    display: flex;
    row-gap: 15%;
    left: 5.35%;
    border-radius: 2.1875rem;
    flex-direction: column;
    box-shadow: 0 0 20px 0px black;
    align-items: center;
    justify-content: center;
}
#add-todo-subject {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 6.25rem;
    font-size: 1.25rem;
    text-align: center;
    background-image: linear-gradient(to right, #ffffff 50%, #ffe7a0 50%);
    background-size: 200%;
    background-position: right;
    height: 4ch;
    width: 17ch;
    display: none;
    margin-bottom: 6%;
    transition: all 0.3s ease-in-out;
}
#todo-detail-text-area {
    padding: 0.625rem 1rem;
    border: none;
    outline: none;
    border-radius: 6.25rem;
    font-size: 1.25rem;
    text-align: center;
    background-image: linear-gradient(to right, #ffffff 50%, #ffe7a0 50%);
    background-size: 200%;
    background-position: right;
    margin-bottom: 6%;
    height: 4ch;
    width: 17ch;
    display: none;
    transition: all 0.3s ease-in-out;
    resize: none;
}
.add-box-button:hover {
    background-position: left;
}
#add-todo-subject:hover,
#add-todo-subject:focus,
#todo-detail-text-area:hover,
#todo-detail-text-area:focus {
    background-position: left;
    color: #000000;
}
#add-todo-subject::placeholder {
    font-size: 19px;
    color: #000000;
}
#todo-detail-text-area::placeholder {
    color: #000000;
}
.todo-describe p {
    font-size: 1rem;
    word-wrap: break-word;
    font-weight: 700;
    color: #efefef;
}
.todo-container h1 {
    text-align: center;
    font-size: 4.375rem;
    color: #ffd557;
    font-weight: 700;
    letter-spacing: 0.25rem;
}
@keyframes deleteOpacityAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes borderAnim {
    0% {
        border-radius: 6.25rem;
    }
    100% {
        border-radius: 0.625rem;
    }
}
@keyframes addBoxOpenWidthAnim {
    0% {
        width: 0;
    }
    100% {
        width: 33.295625rem;
    }
}
#cancel-add-icon {
    display: none;
}
#cancel-add-icon:hover {
    scale: 1.5;
    rotate: 180deg;
}
#cancel-add-icon:active {
    translate: 0 2px;
}
.close-add-box-animation {
    animation: addBoxCloseWidthAnim 0.3s ease forwards;
}
@keyframes addBoxCloseWidthAnim {
    0% {
        width: 33.295625rem;
    }
    100% {
        width: 0;
    }
}
